.App {
  text-align: center;
}

.leftNav {
  height: 72vh;
  background: #e2dde666;
  border: 1px solid black;
}
.centerDiv {
  background: antiquewhite;
  border: 1px dotted;
  height: 72vh;
}
.rightNav {
  height: 72vh;
  background: #e2dde666;
  border: 1px solid black;
}
.header,
.footer {
  background-color: mistyrose;
}

.header {
  margin-bottom: 10px;
  padding: 10px;
}
.footer {
  margin-top: 10px;
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}
input { 
  margin: 0 5px;
}
label {
  margin-right: 15px;
}